@import '~bootstrap/scss/bootstrap';

body {
    max-width: 1200px;
    min-width: 300px;

}

 #auth-display {
     font-size: large;
     font-weight: bold;
     padding:30px;
     margin: 25px;
     display: block;
 }

 #create-display {
     padding: 20px;
 }

 #new-drink-form {
    margin: 20px;
    align-self: center;
 }

 .card {
     align-self: center;
     margin: 20px;
     margin-left: 30px;
 }

 .drinks-update-dynamic {
     margin-left: 30px;
 }

 .drinks-destroy-dynamic {
     display:inline-block;
     margin:10px;
     margin-left: 30px;
 }