@import '~bootstrap/scss/bootstrap';

body {
    max-width: 1200px;
    min-width: 300px;

}

 #auth-display {
     font-size: large;
     font-weight: bold;
     padding:30px;
     margin: 25px;
     display: block;
 }

 #create-display {
     padding: 20px;
 }

 #new-drink-form {
    margin: 20px;
    align-self: center;
 }

 .card {
     align-self: center;
     margin: 20px;
     margin-left: 30px;
 }

 .drinks-update-dynamic {
     margin-left: 30px;
 }

 .drinks-destroy-dynamic {
     display:inline-block;
     margin:10px;
     margin-left: 30px;
 }

 .main-card {
   display: list-item;    
  } 

  #sign-up-form {
    display:block;
    margin-left: 280px;
  }

  #sign-in-form {
      margin-left: 380px;
  }

    h3 {
      text-align: center;
      padding: 10px;
      font-weight: 100;
      font-style: oblique;
  }

  .auth-btn {
      border-radius: 50%;

  }

  .auth-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  box-shadow: 0 9px #999;
}

.auth-btn:hover {background-color: #3e8e41}

.auth-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 .drinks-destroy-dynamic {
  display: inline-block;
  padding: 15px 25px;
  margin: 20px;
  margin-left:460px;
  width: 120px;
  border-radius:50%;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #696969;
  border: none;
  box-shadow: 0 9px #999;
}

.drinks-destroy-dynamic:hover {background-color: #696969}

.drinks-destroy-dynamic:active {
  background-color: #696969;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 .drinks-update-btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 5px;
  width: 120px;
  border-radius:50%;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  box-shadow: 0 9px #999;
}

.drinks-update-btn:hover {background-color: #3e8e41}

.drinks-update-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}